<h2>Welcome to Goaling</h2>
<% unless session[:user] %>
  <a href="/signin">ログイン</a> <a href="/signup">新規登録</a><br>
<% else %>
  <a href="/signout">ログアウト</a>
  <h2><%= User.find(session[:user]).name %>としてログイン</h2>
<% end %>
