<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Goaling</title>
  </head>
<body>
  <% unless session[:user] %>
  <% else %>
    <header>
      <a href="/goals">List</a>
      <a href="/profile">My Page</a>
    </header>
  <% end %>

  <%= yield %>
</body>
</html>
