<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Goaling</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  </head>
<body>
  <div id="content">
    <% if session[:user] %>
      <header>
        <a id="menu" href="#animatedModal">
          <img src="/SVG/menu.svg">
        </a>
      </header>
    <% end %>
    <%= yield %>
  </div>
  <div id="animatedModal">
    <div class="close-animatedModal">×</div>
    <div class="modal-content">
      <ul>
        <li><a href="/goals">List</a></li>
        <li><a href="/profile">My Page</a></li>
        <li><a href="/search">Search Friends</a></li>
        <li><a href="/notification">Notifications</a></li>
        <li><a href="/timeline">Timeline</a></li>
        <li><a href="/signout">Log out</a></li>
      </ul>
    </div>
  </div>
</body>
<script src="/scripts/jquery.easypiechart.min.js"></script>
<script src="/scripts/animatedModal.min.js"></script>
<script>
  $(function() {
    // $("#menu").animatedModal();
    $("#menu").animatedModal({
      animatedIn:'fadeInDown',
      animatedOut:'fadeOutUp',
      animationDuration:'1s',
      color: '#363333'
    });
    $('.chart').easyPieChart({
        barColor:'#e16428',
				scaleColor:false,
				lineWidth:50,
				lineCap:'circle',
        size: 200
    });
  });
</script>
</html>
