<h2>Your Goals</h2>
  <% if @goals.empty? == true  %>
  <h1> Enter New Goals </h1>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>your goals</th>
        </tr>
      </thead>
      <tbody>
      <% @goals.each do |goal| %>
      <tr>
        <td><%= CGI.escapeHTML(goal.title) %></td>
        <td>
          <form action="/goals/<%= goal.id %>/delete" method="post">
            <input type="submit" value="Delete">
          </form>
        </td>
        <td><a href="/goals/<%= goal.id %>/edit">Edit</a></td>
      </tr>
      </tbody>
    </table>
    <% end %>
  <% end %>

  <form action="/goals" method="post">
    <input type="text" name="title" placeholder="Enter new"><br>
    <input type="submit" value="Add">
  </form>

<% unless session[:user] %>
  <a href="/signin">ログイン</a> <a href="/signup">新規登録</a><br>
<% else %>
  <a href="/signout">ログアウト</a>
  <h2><%= User.find(session[:user]).name %>としてログイン</h2>
<% end %>
