<div class = "forms">
  <form action="/profile/edit" method="post">
    <h2>Edit profile</h2>
    <input type="text" name="name" placeholder="name" value="<%= @user.name %>"><br>
    <input type="text" name="email" placeholder="email" value="<%= @user.email %>"><br>
    <input type="submit" value="Send">
  </form>
</div>
