<div class = "forms">
  <form action="/search/name" method="post">
    <h2>Search Friends</h2>
    <input type="text" name="name" placeholder="User name"><br>
    <input type="submit" value="Find">
  </form>
</div>
　
