<div class = "forms">
	<form action="/signup" method="post">
		<h2>Join Goaling</h2>
		<input type="text" name="name" placeholder="User name"><br>
		<input type="string" name="email" placeholder="Email"><br>
		<input type="string" name="password" placeholder="Password"><br>
		<input type="string" name="password_confirmation" placeholder="Confirm password"><br>
		<input type="submit" value="register">
	</form>
</div>
