* {
  margin:0;
  padding:0;
  border:none;
  list-style:none;
  background-color: #363333;
  box-sizing: border-box;
}

header {
  margin: 50px;
}

#animatedModal {
  padding: 15px;
  size: 100px;
}

.close-animatedModal {
  text-align: right;
  font-size: 30px;
  color: #fff;
}

.modal-content ul {
  width: 300px;
  margin: 50px auto;
  font-size: 24px;
}

.modal-content ul li {
  margin: 0 10px 20px;
}

.modal-content a {
  color: #fff;
}

/*フォーム系*/

.forms form {
  margin:70px auto;
  width:347px;
  text-align:center;
  padding:40px;
  border-radius: 8px;
}

.forms .form img{
  width:200px;
  height:200px;
  margin: 30px;
}

.forms h2 {
  color: #f6e9e9;
  font-weight:400;
  margin-bottom:20px;
  font-size: 36px;
}

.forms input {
  background:#565656;
  color:#fff;
  display:block;
  width:273px;
  height: 42px;
  padding-left: 10px;
  border-radius: 8px;
  border-color:#979797;
  outline:none;
}

::-webkit-input-placeholder {
  color: #e4dbdb;
}

.forms input:last-child {
  position:relative;
  display:block;
  margin: auto;
  margin-top:15px;
  margin-bottom:15px;
  padding: 0px;
  text-align: center;
  width:128px;
  font-size: 24px;
  background: #e16428;
  color: #f6e9e9;
}

.forms button:active {
  top:3px;
  box-shadow:none;
}

.forms .form{
  margin:210px auto;
  width: 295px;
  text-align:center;
  border-radius: 8px;
}

.forms a{
  position:relative;
  display:block;
  float: left;
  margin-top:15px;
  margin-bottom:15px;
  padding: 0px;
  text-align: center;
  width:128px;
  font-size: 24px;
  background: #e16428;
  color: #f6e9e9;
  border-radius: 8px;
  text-decoration: none;
}

.forms a:last-child{
  margin-left: 30px;
}

/*タイムライン*/
.timeline {
  margin: auto;
  max-width: 40em;
  overflow:hidden;
  height: auto;
  position: relative;
  padding:0px;
  list-style-type:none;
}

.event {
  position:relative;
  clear: right;
  width: 90%;
  margin: 1em 5%;

  border-radius: 5px;
  list-style-type: none;
  display: block;
  padding: .4em;
  color: #f6e9e9;
  text-decoration: none;
}

.event img{
  display: inline;
  width: 58px;
  height: 58px;
}
.event p{
  display: inline;
  margin: 30px;
}


.lists h2 {
  width: 276px;
  font-size: 30px;
  text-align: center;
  color: #e4dbdb;
  padding-bottom: 23px;
  margin: 60px auto 23px;
  border-bottom: solid 1px;
}

.lists {
  margin: 0px auto 0;
  width: 400px;
  overflow:hidden;
  height: auto;
  /*position: relative;*/
  margin: auto;
  padding:0px;
}

.lists table{
  margin: 50px;
  border-collapse: separate;
  border-spacing: 1px;
  text-align: center;
  line-height: 1.5;
}

.lists .check{
  width: 20px;
  padding: 10px;
  vertical-align: top;
}

.lists .goal{
  width: 200px;
  padding: 10px;
  vertical-align: top;
}

.lists .goal a{
  color: #f6e9e9;
  font-size: 20px;
  text-decoration: none;
  text-align: left;
}

.lists .delete{
  width: 20px;
  padding: 10px;
  vertical-align: top;
}

.lists .edit{
  width: 20px;
  padding: 10px;
  vertical-align: top;
}

.profile{
  margin:70px auto;
  width: 375px;
  text-align:center;
  padding:40px;
  border-radius: 8px;
}

.profile h2{
  color: #f6e9e9;
  font-size: 24px;
  text-align: center;
  margin: 30px;
}

.profile p{
  color: #f6e9e9;
  font-size: 20px;
  float: left;
  margin: 0px 30px;
}

.profile .goal{
  width: 300px;
  padding: 10px;
  vertical-align: top;
}

.profile .star{
  width: 20px;
  padding: 10px;
  vertical-align: top;
}
.profile .favorite{
  width: 20px;
  padding: 10px;
  vertical-align: top;
}
.profile .favorite a{
  color: #f6e9e9;
  font-size: 20px;
  vertical-align: top;
}

.profile .goal p{
  color: #f6e9e9;
  font-size: 20px;
  text-decoration: none;
  text-align: left;
  white-space: nowrap;
}

.friends{
  width: 400px;
  margin: auto;
}

.profile .list li{
  float: left;
  font-size: 24px;
  color: #f6e9e9;
  margin: 20px;
}

.profile .list form{
  float: left;
  font-size: 24px;
  color: #f6e9e9;
  margin: 20px;
}

.profile .follow input{
  position:relative;
  display:block;
  margin: 10px auto;
  padding: 0px;
  text-align: center;
  height: 42px;
  width:128px;
  font-size: 24px;
  background: #e16428;
  color: #f6e9e9;
  border-radius: 8px;
  text-decoration: none;
}

.chart {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.chart canvas {
  margin: 20px auto;
}

.chart h3 {
  width: 276px;
  font-size: 20px;
  text-align: center;
  color: #e4dbdb;
  margin: auto;
}

.chart_container{
  margin:10px auto;
  width: 375px;
  text-align:center;
  padding:40px;
}

.chart_container h2{
  width: 276px;
  font-size: 30px;
  text-align: center;
  color: #e4dbdb;
  padding-bottom: 23px;
  margin: 60px auto 23px;
  border-bottom: solid 1px;
}

.result{
  margin:70px auto;
  width: 375px;
  text-align:center;
  padding:40px;
  border-radius: 8px;
}

.result h2{
  width: 276px;
  font-size: 30px;
  text-align: center;
  color: #e4dbdb;
  padding-bottom: 23px;
  margin: 60px auto 23px;
  border-bottom: solid 1px;
}

.result a{
  width: 276px;
  font-size: 30px;
  text-align: center;
  color: #e4dbdb;
  margin: 60px auto 23px;
}
