<div>
  <div>
      <div>
        <table>
          <thead>
            <tr>
              <th>タイトル</th>
            </tr>
          </thead>
          <tbody>
          <% @goals.each do |goal| %>
          <tr>
            <td><%= goal.title %></td>
          </tr>
          <% end %>
          <tr>
            <td colspan="6"><a href="/goals/new">Your Goals</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div>
  <form action="/goals" method="post">
  <div>
    <div>
      <input type="text" name="title" placeholder="Enter new"><br>
    </div>
    <div>
      <input type="submit" value="Add">
    </div>
  </div>
  </form>
</div>
